<div class="container">
  <header>
    <div class="title">
      <!-- <h3>Guests</h3> -->
      <p> (Total registered: {{this.result?.count}})</p>
      <mat-form-field>
        <input matInput placeholder="Search guest" #input>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" routerLink="/leadEdit">New welcome</button>
  </header>

  <main>   

    <mat-list>
      <mat-list-item *ngFor="let guest of this.result?.items">
        <h4 mat-line>{{guest.name}} - {{guest.gender}}</h4>
        <p mat-line>
          <a [href]="'tel:' + guest.phone">{{guest.phone}}</a>
        </p>
      </mat-list-item>
    </mat-list>

    <mat-paginator [length]="this.result?.count" [pageSize]="this.pageSize" [pageSizeOptions]="this.pageSizeOptions">
    </mat-paginator>
  </main>
</div>